<div *ngIf="student">
    Student: {{student?.name}}
    <div *ngIf="student?.isJedi">
        Jedi Temple: {{student?.temple}} <button (click)="description.focus()">focus</button>        <textarea #description></textarea>
    </div>
    <button (click)="clickme()">Click</button>
    <hr>
</div>
<div *ngIf="!student">Sem dados para exibir</div>